/* Variables */
:root {
    --tiber: #09383E;
    --tiber2: #09383e49;
    --elephant: #0C383E;
    --white: #fff;
}

/* rem font sizing */
html { font-size: 62.5%; }


.text-container {
    text-align: center;
    z-index: 10;
    position: relative;
  }
  
  .text {
    color: var(--tiber);
    font: 400 1.7rem/1.5rem "Source Code Pro", monospace;
    display: inline-block;
    background-color: #ede8e500;
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  .email-link {
    color: var(--tiber);
    transition: color 0.3s;
    text-decoration: none;
  }
  
  .email-link:hover {
    color: purple ;
    text-decoration: none;
  }
  



.ellipses-container {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.ellipses {
    border-radius: 50%;
    position: absolute;
    top: 0;
    border-style: solid;
    
}

.ellipses__outer--thin {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: rgba(9, 56, 62, 0.1);
    animation: ellipsesOrbit 15s ease-in-out infinite;
}


.ellipses__outer--thick {
    width: 99.5%;
    height: 99.5%;
    border-color: var(--tiber2) transparent;
    border-width: 2px;
    transform: rotate(-45deg);
    animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 2px;
    border-color: var(--tiber);
    top: 5rem;
    right: 6.75rem;
}

.ellipses__orbit:before {
    content: '';
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--tiber);
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes ellipsesRotate {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@keyframes ellipsesOrbit {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}